/* Code is written by CHIRAG RAJ */
body::-webkit-scrollbar {
  overflow: hidden;
  display: none;
}
body {
  margin: 0px;
}

#container {
  background: rgb(3, 119, 55);
  background: linear-gradient(
    70deg,
    rgba(3, 119, 55, 1) 1%,
    rgba(121, 9, 23, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rod1 {
  height: 5vh;
  width: 20vw;
  min-width: 180px;
  /* background-color: #a41ec6; */
  background-image: linear-gradient(to right, #c61e1e, #ffffff);
  border-radius: 25px;
  position: absolute;
  top: 0px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#ball {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* background-color: #307aa5; */
  background-image: radial-gradient(#ffffff, rgb(10, 67, 238));
  position: absolute;
  border: 1px solid black;
  top: 50%;
  margin-top: -30px;
}

#rod2 {
  height: 5vh;
  width: 20vw;
  min-width: 180px;
  /* background-color: #a41ec6; */
  background-image: linear-gradient(to right, #ffffff, #19d12e);
  border-radius: 25px;
  position: absolute;
  bottom: 0px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
  font-weight: bold;
}

/* ball moving transition code */
.animate-top-right {
  transition: transform linear 8s;
  transform: translateX(2000px) translateY(-2000px);
}

.animate-bottom-right {
  transition: transform linear 8s;
  transform: translateX(2000px) translateY(2000px);
}
.animate-top-left {
  transition: transform linear 8s;
  transform: translateX(-2000px) translateY(-2000px);
}
.animate-bottom-left {
  transition: transform linear 8s;
  transform: translateX(-2000px) translateY(2000px);
}
